h1 {
    background: blue;
    color: white;
    font-size: 200%;
    padding: 12px;
    text-align: center;
}

span {
    background: orange;
    color: blue;
    padding: 3px 6px;
    margin: 0 2px;
}

span.ilabel {
    display: inline-block;
    background: #D6EAF8;
    color: blue;
    padding: 6px 6px;
    margin: 0px 2px;
    width: 150px;
    text-align: right;
}

input[type='text'] {
    width: 600px;
    height: 2em;
    background: #FCF3CF;
    text-indent: 6px;
}
body {
    text-align: center;
}
button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

